main{
    font-family: 'Turret Road', sans-serif;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    
}
.library-container{
    width: 50%;
    margin-right: 10px;
}
.games-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.library-game-container{
    width: 100%;
    
}
.library-game-thumbnail-container{
    height: 300px;
    position: relative;

}
.add-to-wishlist{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    background: rgb(149, 149, 235);
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    cursor: pointer;


}
.plus-icon{
    width: 40px;
}
.library-game-thumbnail{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.wishlist-container{
    width: 50%;
}
.wishlist-game-thumbnail{
    width: 200px;
}
.wishlist-game-details{
    font-family: 'Inter', sans-serif;
}
